body{
    background-image: url("../img/fondo1.webp");
    background-repeat: no-repeat;
    background-position: center center;
    /* cover es para que la imagen de fondo ocupe toda la pantalla */
    background-size: cover;
 
}


.logo {
    height: 64px;
}

.division{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h4{
    color:red;
    font-family: OpenSansCondensed-LightItalic;
}


.nav-wrapper .brand-logo img {
    height: 64px;
}

nav {
    background-color: #21EA21 !important;
    
}

nav ul li a{
    color: black;
} 

.ptop-10{
    padding-top: 10px;
    
}



.btn, .btn-large, .btn-small{
    background-color: #EA2121 !important;
    
}
 

.derechos{
    
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: flex-end;
   
}


.m20_0{ margin:20px 0px;}