body{
    background-image: url("../img/fondo1.webp");
    background-repeat: no-repeat;
    background-position: center center;
    /* cover es para que la imagen de fondo ocupe toda la pantalla */
    background-size: cover;
 
}


.logo {
    height: 64px;
}

.division{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h4{
    color:black;
    font-family: OpenSansCondensed-LightItalic;
    font-weight: bold;
    
}

.only-movil{
    display: none;
}


.nav-wrapper .brand-logo img {
    height: 64px;
    opacity: 0.9;
}

nav {
    background-color: rgb(255, 255, 255)  !important;
    height: 64px !important;
    
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
} 

.linkss:hover{
    
    color: red;
    font-size: 1.2rem;
    -webkit-transition-property:  color, font-size;
    -webkit-transition-duration: 0.4s;
}

.color{
    color: black;
}

.p5{
    padding-top: 5px;
}

.btn, .btn-large, .btn-small{
    background-color: red !important;
    opacity: 0.9;
}


.only-movil{
    display: none;
}


.ptop-10{
    padding-top: 10px;
    
}

.derechos{
    
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: flex-end;
   
}


.m20_0{ margin:20px 0px;}


.parrafo{
    display: flex;
    margin: auto;
    opacity: 0.7;
    color: black;
    font-weight: bold;
}

.galeria_top{
    margin-top: 60px;
}



/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */


/* Se aplica desde 0 a 768px */
@media screen and (max-width: 768px) {
    h4{
        display: none;
    }

    .ocultar_movil{
        display: none;
    }

    .galeria_top{
        margin-top: 50px;
    }

/*
    h5{
        color:red;
        font-family: OpenSansCondensed-LightItalic;
        font-weight: bold;
        opacity: 0.6;
    }
*/
    .parrafo{
       /* display: none;*/
       text-align: center;
       margin-top: 40px;;
       margin-bottom: -30px;
    }
    

}
    
/* Se aplica desde 768px a 992px  */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

/* Se aplica desde 992px a 1200px  */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    



}